.modalTask {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding: 50px;
	width: 100%;
	gap: 40px;
	height: fit-content;
}
.modalTop{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}
.cross {
	right: 50px;
	position: absolute;
}
select {
	width: 250px;
	height: 40px;
	margin-right: auto;
	margin-top: 40px;
	border-radius: 30px;
	padding-left: 30px;
}
.modalTask__cards {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
	margin-top: 20px;
}
.modalTask__card-users,
.modalTask__card-desc {
	border: 1px solid #d1d1d1;
	border-radius: 30px;
	display: flex;
	padding: 20px 30px 20px 30px;
	flex-direction: column;
	gap: 10px;
}
.modalTask__card-item {
	display: flex;
	gap: 10px;
	align-items: center;
	flex-wrap: wrap;
}
.modalTask__card-header, .modalTask__desc-header{
	display: flex;
	justify-content: space-between;
}
.ql-container{
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}
.ql-toolbar{
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}
.ql-toolbar.ql-snow{
	padding: 5px 30px 5px 30px;
}
.ql-editor{
	padding: 5px 30px 5px 30px;
}
.modalBottom{
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 10px;
	justify-content: flex-end;
}
.modalBottom input{
	width: 200px;
	height: 60px;
	border-radius: 30px;
	border: none;
}